.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
.quarto
.quarto/**
_site
_site/**
/.quarto/
.vscode/
archieved_analyses/
**test*
**/*test*/**
*logs*
**tmp*
**/.ipynb_checkpoints
swap-pane
**/swap-pane
analysis/
analysis/*rds
analysis/*gz
analysis/*_cache/
analysis/*_files/
docs/
data
plots
.snakemake/*
_freeze
backup*/
