*
!config
!config/*
!snakemake_profiles
!snakemake_profiles/**
!workflow/Snakefile
!**config.yaml
!**samples.tsv
!workflow
!workflow/**/*
!environment.yaml
!LICENSE
!README.md
!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!**snakemake.sbatch
!**cluster-config.json
!my-temp-data/**/*
!my-temp-data
*.swp
**/*ipynb_checkpoints/*
*.snakemake*
**/*.snakemake*
workflow/submodules
workflow/deprecated_scripts
**/__pycache__/*

